spring:
  application:
    name: eureka-consumer
server:
  port: 3331

eureka:
  client:
    serviceUrl:
#     单服务注册中心时使用
#     defaultZone: http://localhost:1111/eureka/
      defaultZone: http://localhost:1111/eureka/,http://localhost:1112/eureka/
