server:
  port: 4441

spring:
  application:
    name: config-server
  # 使用本地配置文件代替git、svn
  profiles:
    active: native

  cloud:
    config:
      server:
#        git:
#          # 配置git仓库的地址
#          uri: https://github.com/lt673701439/SpringCloud-LT/
#          # git仓库地址下的相对地址，可以配置多个，用,分割。
#          search-paths: config-repo
        # 使用本地配置文件代替git、svn，可以配置多个，用,分割。
        native:
          searchLocations: classpath:/client/

eureka:
  client:
  # 单服务注册中心时使用
    serviceUrl:
      defaultZone: http://localhost:1111/eureka/
  # 集群情况使用，注册到所有注册中心，包括自己
  #      defaultZone: http://localhost:1111/eureka/,http://localhost:1112/eureka/